<head><title>Find a Twilio number to buy</title></head>
<body><h3>Find a Twilio number to buy</h3>
  <form method='post' controller='users' action='send_area_code'>
  <!-- <form method='post' controller='users' action='list_twilio_numbers'> -->
    <label>Area code (e.g. 415): </label><input type="text" size="4" name="area_code"/><br/>
    <input type="submit" value="Search"/>
  </form>
</body>
