<%= form_tag charges_path do %>
  <article>
    <h2>You need to subscribe to BuzzYouIn before you can send visitor passes.</h2>
    <br>
    <label class="amount">
      <span>Amount: $5.00 per month</span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="A month's subscription"
          data-amount="500"></script>
<% end %>